@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

/* highlight borders for page sections; used for editing layout */
/* #header {
  border: 2px solid red;
}
#navbar {
  border: 2px solid blue;
}
#body {
  border: 2px solid green;
}
#footer {
  border: 2px solid teal;
}*/

@font-face {
  font-family: "nexusCore";
  src: url("/css/NexusCore.otf");
}
.lexography {
  font-size: 230%;
  text-align: center;
}
.interlex {
  font-size: 120%;
}
.lang_nr {
  font-family: nexusCore;
  direction: rtl;
}

body {
  background-color: #fffff8;
  color: #111111;
  font-size: 16pt;
  font-family: serif;
}

/* Page layout */
#content {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

#pageheader {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 32pt;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  border-bottom: 4px solid black;
  margin-bottom: 0.25em;
}
#header-right {
  display: flex;
  flex-direction: column-reverse;
}
#sitetitle {
  text-align: right;
  font-weight: normal;
}
#sitetitle a {
  text-decoration: none;
  color: black;
}
#quicklinks {
  text-align: right;
  font-size: 10pt;
  font-style: italic;
  font-weight: normal;
  padding-bottom: 0.2em;
}
#quicklinks a {
  // text-decoration: none;
  color: blue;
}
@media (max-width: 500px) {
  #pageheader {
    flex-direction: column;
    align-items: start;
  }
  #quicklinks {
    text-align: left;
  }
}

#navbar {
  text-align: center;
}
#footer {
  clear: both;
  grid-area: footer;
  margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: 1px dotted black;
    text-align: center;
    font-size: 90%;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.section-nav {
  float: right;
  border: 1px solid black;
  background: white;
  padding: 0.5em;
  padding-left: 2em;
  margin: 0.5em;
  margin-right: 0em;
}

.faketable {
  border: none;
}
.faketable td {
  background: white;
  color: black;
}

/* Navbar Styles */
#navbar {
  clear: both;

  #site-logo {
    border: none;
  }
  p {
    padding-left: 20px;
    text-indent: -20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navhead {
    font-size: 110%;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.25em;
  }
  .nav-arrow img {
    text-align: middle;
    height: 0.5em;
    width: 0.5em;
  }

  .navTabSectionHeader {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    font-size: 120%;
    padding: 0.5em 1px;
  }
  .navTabHeader {
    margin-top: 1em;
    padding: 3px 1px;
    font-family: sans-serif;
    cursor: pointer;
    border-bottom: 1px dashed grey;
  }
  .navTab {
    border-bottom: 1px dashed black;
    margin-top: 1em;
    padding-bottom: 0.5em;
  }
}

/* Navbar Styles */
.index-list {
  margin-top: 2em;
  column-count: 3;
}
.index-list ul {
  margin-top: 0.25em;
  margin-bottom: 1em;
}
.index-head {
  font-weight: bold;
}
.index-list li {
  margin-bottom: 0.2em;
}

/* Header Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}
h1 {
  font-size: 36pt;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  border-bottom: 2px solid black;
  padding: 0.05em;
}
h3 {
  border-bottom: 1px dotted black;
  clear: both;
}

/* Page Content styles */
p {
  text-indent: 1.5em;
}
.categories {
  text-align: right;
  font-size: 85%;
  margin: 0;
}
.badlink {
  color: red;
}

/* Illustration styles */
figure {
  text-align: center;
  background: #fffff8;
  padding: 4px;
  margin: 1em;
  clear: both;
}
figure.center {
  margin-left: auto;
  margin-right: auto;
}
figure.left {
  float: left;
  margin-left: 0;
  padding-left: 0;
}
figure.right {
  float: right;
  margin-right: 0;
  padding-right: 0;
}
figure img {
  border: none;
  box-shadow: 0 0 3px black;
  border-radius: 10px;
}
figure.map img {
  box-shadow: none;
}
figcaption {
  font-size: 90%;
  font-style: italic;
}
.multi-image-button {
  border: none;
  background: none;
  font-size: 100%;
  margin: 0;
  padding: 0
}

/* Table Styles */
table {
  border-collapse: collapse;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-size: 90%;
}
caption {
  margin-bottom: 0.5em;
  font-size: 110%;
  font-weight: bold;
}
th {
  vertical-align: bottom;
  border-bottom: 1px solid black;
}
td, th {
  padding: 0.2em 0.5em;
}
// tr {
//   background-color: #FFF;
// }
.preheader th {
  border-bottom: none;
}
.unitheader {
  font-size: 85%;
}
.table-centered-text {
  text-align: center;
}
.td-left {
  text-align: left;
}
tbody tr:hover {
  background-color: #EEE;
}
.subrow {
  font-style: italic;
  font-size: 80%;
}
.subrow td:first-child {
  text-indent: 1em;
}
.totalrow {
  border-top:1px solid black;
  font-style: italic;
}
.totalrow2 {
  font-style: italic;
}
.infobox {
  clear: right;
  font-size: 80%;
  margin: 0.1em 0.75em;
  margin-right: 0;
  float: right;
  line-height: normal;
  background: white;
  box-shadow: 0 0 3px black;
  border-radius: 5px;
}
.infobox-centre {
  float: none;
}
.infobox-centre table {
  margin-left: auto !important;
  margin-right: auto !important;
}
.infobox .globe {
  text-align: center;
}
.infobox table {
  border-top: none;
  border-bottom: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.infobox th, .infobox td {
  background: white;
  color: black;
}
.infobox .top-header {
  font-size: 150%;
  text-align: center;
}
.infobox .wide-header {
  font-size: 105%;
  text-align: center;
  background-color: #CCC;
}
.infobox .wide-data {
  text-align: center;
}
.infobox th {
  text-align: right;
  vertical-align: top;
  border: none;
}
.infobox td {
  vertical-align: middle;
}
.infobox .raw-data-link {
  text-align: center;
}
.line-left {
  border-left: 1px dotted grey;
}

/* Search Page Styles */
.noindent {
    text-indent: 0;
}
.searchinput {
    text-indent: 0;
}
.searchinput input {
    width: 80%;
    font-size: 110%;
}
.searchinput button {
    width: 17%;
    font-size: 110%;
}
.searchresult {
    margin-bottom: 0.5em;
}
.searchtitle {
    font-weight: bold;
}
.searchscore {
    font-size: 90%;
    font-style: italic;
}


/* Glossary Styles */
.glossary {
  column-count: 3;
}
.glossary dt {
  font-weight: bold;
  break-after: avoid;
  break-inside: avoid;
}
.glossary dd {
  break-before: avoid;
  break-inside: avoid;
}
.glossary-tag {
  font-size: 90%;
  border: 1px solid black;
  padding: 0 6px;
  background-color: #ccc;
}

/* Timeline Styles */
.timeline-line {
  background: #fffff8;
  background-image: url(/art/timeline_line.png);
  background-repeat: repeat-y;
  background-position: center top;
}
#timeline-controls {
  border: 1px dashed black;
  padding: 0.5em 1em 1em 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}
#timeline-controls-title {
  text-align: center;
  padding-bottom: 0.25em;
  margin-bottom: 0.75em;
  font-size: 110%;
  font-weight: bold;
  border-bottom: 1px dashed black;
}
#timeline-controls-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#tag-filter-list {
  border: 1px solid black;
  background-color: #EFE;
  display: flex;
  flex-direction: column;
  width: 25%;
  flex-grow: 1;
}
#tag-filter-head {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px dotted grey;
}
#tag-filter-tags {
  flex: 1;
  padding: 0.5em;
}
#tag-filter-controls {
  font-size: 90%;
  text-align: right;
}
#controls-controls {
  text-align: center;
  flex-grow: 1;
  display: flex;
}
#controls-controls div {
  flex-grow: 1;
}
#timeline {
  border: none;
}
#timeline-results {
  text-align: center;
  font-style: italic;
}
.keyword-header {
  margin-top: 1em;
  text-align: center;
  font-size: 110%;
}
.keyword-list {
  columns:3;
  border-top:1px solid black;
  border-bottom:1px solid black;
  background: lightgrey;
  margin: 0.5em 2em 0;
}
.keyword-list button {
  background: inherit;
  border: none;
  font-size: 90%;
}
.timeline-date {
  vertical-align: top;
  background: lightgrey;
  color: black;
  width: 10em;
  text-align: center;
}
.timeline-since {
  text-align: center;
  vertical-align: top;
  background: lightgrey;
  color: black;
}
.timeline-keywords {
  vertical-align: top;
  background: lightgrey;
  color: black;
}
.timeline-text {
  vertical-align: top;
  background: #fffff8;
  color: black;
  padding-bottom: 0.5em;
}
.timeline-text p {
  margin: 0;
}
.timeline-text p:first-child {
  text-indent: 0;
}
.tag {
  font-size: 110%;
  padding: 0 6px;
  white-space: nowrap;
  cursor: pointer;
}

/* Conlang Styles */
.interlex {
  border: none;
  margin-bottom: 1em;
}
.interlex caption {
  font-size: 120%;
  padding-bottom: 0.125em;
  border-bottom: 5em;
  border-bottom: 1px dotted black;
}
.interlex td,.interlex th {
  padding: none;
}
.interlex tr {
  background: none;
}
.interlex-ex {
  text-align: center;
}
.inline-glyph {
  height: 1em;
}
.overlay-glyph {
  position: relative;
  display: inline;
}
.stacked-glyph {
  position: absolute;
  bottom: 0;
  left: 0;
}
.rtl-glyph {
  text-align: right;
}

/* For Text Tool */
.lang_demo {
  font-family: nexusCore;
}
#transTable {
    font-size: 200%;
    border: 1px solid black;
    border-collapse: collapse;
}
#transTable th, #transTable td {
    border: 1px solid black;
    padding: 5px 10px;
}

#transTable th {
    border-right: none;
    padding-right: 5px;
    text-align: right;
}
#transTable td {
    border-left: none;
    padding-left: 5px;
    text-align: left;
}

.vocab-frequencies {
    columns: 3;
    margin-bottom: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: none;
}
.vocab-frequencies-button {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
