/* For Star System Tool */
#content {
  max-width: unset;
}
#planettool th {
  text-align: right;
}
#planettool #orbitTable th {
  text-align: left;
}
#planettool td, th {
  vertical-align: top;
}
#planettool #gravRange {
  color: grey;
}
#planettool #pressureTableHead {
  font-weight: bold;
  margin-top: 1em;
  font-size: 120%;
  text-align: center;
}
#planettool #relativePressureTable table {
  margin-right: auto;
  margin-left: auto;
}
#planettool input {
  width: 4em;
}
#planettool h2 {
  text-align: center;
  font-weight: bold;
  font-size: 130%;
}
#planettool .highlight-error {
  color: red;
}
#planettool #error-message {
  color: red;
  border: 2px dashed red;
  font-size: 200%;
  text-align: center;
  background-color: yellow;
}
#planettool .quick-tip {
  font: 80%;
  font-style: italic;
  color: blue;
  width: 80%;
}

table, table tr {
  border: none;
  background-color: #fffff8;
}
tr:nth-child(odd) {
  background-color: #fffff8;
}
td, th {
  border: none;
}