{% extends "base.html" %}

{% block pagebody %}

{% set ns = namespace(letter='A') %}

<div class='index-list'>
<div class="index-head">A</div>
<ul>
{% for p in nav.pages %}
    {% if p.title[:1] != ns.letter %}
        {% set ns.letter = p.title[:1] %}
        </ul><div class="index-head">{{ ns.letter }}</div><ul>
    {% endif %}
    <li><a href="{{ p.url|url }}">{{ p.title }}{% if p.meta.category %} (<i>{{p.meta.category | title}}</i>){% endif %}</a></li>
{% endfor %}
</ul>
</div>

{% endblock %}
