{% extends "base.html" %}

{% block pagebody %}

{% set catlist = [ "index", "animal", "general", "god", "guidelines", "language", "nation", "person", "sophant", "tool", "world" ] %}
{% set ns = namespace(letter='A') %}

<div class='index-list'>
{% for cat in catlist %}
    <div class="index-head">{{ cat | title }}</div>
    <ul>
    {% for p in nav.pages %}
        {% if p.meta.category == cat %}
            <li><a href="{{ p.url|url }}">{{ p.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
</div>

{% endblock %}
