{% extends "base.html" %}

{% block pagebody %}

{% set catlist = [ "interworld nexus", "daesra world", "earth", "erladi", "ingr", "isaguyat",
                   "kloip praks", "kzaknri", "raesan vie", "rojizruzz", "rynux", "ujan", "va katr",
                   "vozruat", "zifaelafojun" ] %}
{% set ns = namespace(letter='A') %}

<div class='index-list'>
{% for cat in catlist %}
    <div class="index-head">{{ cat | title }}</div>
    <ul>
    {% for p in nav.pages %}
        {% if p.meta.world == cat %}
            <li><a href="{{ p.url|url }}">{{ p.title }}{% if p.meta.category %} (<i>{{p.meta.category | title}}</i>){% endif %}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
</div>

{% endblock %}
