<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/" | append: page.custom_css | relative_url }}">
    <title>{{ page.title }} - {{ site.title }}</title>
</head>

  <body>

    <div id='content'>
        <div id='pageheader'>
            <h1>{{ page.title }}</h1>
            <div id='header-right'>
                <div id='sitetitle'>
                    <a href='/index.html'>Interworld Nexus</a>
                </div>
                <div id='quicklinks'>
                    <a href='/by_alpha.html'>Alphabetical</a> |
                    <a href='/by_category.html'>Categories</a> |
                    <a href='/by_world.html'>Worlds List</a> |
                    <a href='/glossary.html'>Glossary</a> |
                    <a href='/search.html'>Search</a>:
                    <form action="/search.html" method="GET" style="display:inline"><input type="text" name="terms" id="terms"><button>Find</button></form>
                </div>
            </div>
        </div>

        {% if page.url != "/index.md" and page.url != "/" -%}
        <div id='navbar'>
            <a href='/'>Home</a> {%
            if page.group %} {%
                assign gdata = site.data.groups[page.group]
            %}
            &gt; <a href='{{ gdata }}'>{{ page.group }}</a>
            {% endif %}
            &gt; {{ page.title }}
        </div>
        {%- endif %}

        <div id="body">
            {{ content | toc }}
        </div>

        <div id='footer'>
            <p>Site generated on {{ site.time | date: "%B %-d, %Y" }} using <a href='https://jekyllrb.com/'>Jekyll</a>.
            <p>Text copyright &copy; 2019 Gren Drake and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
            <p>Art copyright as credited. Art may not be redistributed without permission from the artist.
        </div>
    </div>

  </body>

</html>
