---
layout: default
---

<table clas='vocabtable'>
<thead>
<tr>
<th onclick='resort("lexical")'>Lexical</th>
<th onclick='resort("gloss")'>Gloss</th>
<th>Definition</th>
</tr>
</thead>
<tbody id='vocablist'>
</tbody>
</table>

<script src='/scripts/vocab-{{ page.langcode }}.js'></script>
<script src='/scripts/vocab.js'></script>
